/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;

}
.container {
    width: 75%;
    margin: 50px auto;
    border-radius: 5px;
    background-color: white;
}
.btn {
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;

    padding: 5px 10px;
    margin-right: 5px;
    background-color: white;
    color: #ced3d8;
    border-color: #ced3d8;
}
.blue {
    background-color: #45abea;
    color: white;
    border-color: #45abea;
}

/* Header */
header {
    background-color: white;
}
header .logo {
    margin: 10px 0 10px 20px;
    vertical-align: middle;
}
header .title {
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
}

/* Main */
.buttons {
    border-bottom: 1px solid f6f8f9;
    padding: 20px 0 10px 40px;
}
